// Style For Pricing Block
.pricing {
    &__container {
        margin-left: 80px;
        margin-right: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 132px;
    }

    &__subtitle {
        display: block;
        font-weight: var(--font-medium);
        font-size: var(--small-font-size);
        line-height: 32px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--subtitle-color);
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__title {
        font-weight: var(--font-semi-bold);
        font-size: var(--big-font-size);
        line-height: 64px;
        letter-spacing: -0.03em;
        text-align: center;
        color: var(--title-color);
        margin-bottom: 95px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        column-gap: 40px;
        margin-bottom: 172px;
    }

    &__card {
        width: 400px;
        height: 630px;
        background-color: var(--secondary-color);
        border-radius: 16px;
        padding: 49px 105px 47px 53px;
        transition: .6s ease-in-out;

        &-subtitle {
            display: block;
            font-size: var(--small-font-size);
            font-weight: var(--font-medium);
            line-height: 32px;
            letter-spacing: 0.02em;
            color: var(--subtitle-color);
            text-transform: uppercase;
            margin-bottom: 12px;
        }

        &-amount {
            font-size: 56px;
            line-height: 64px;
            font-weight: var(--font-semi-bold);
            letter-spacing: -0.04em;
            color: var(--white-color);
            margin-bottom: 48px;

            span {
                color: var(--subtitle-color);
            }
        }

        &-hr {
            display: block;
            background-color: var(--secondary-text-color);
            width: 304px;
            height: 1px;
            border-radius: 16px;
            opacity: .16;
            margin-bottom: 48px;
        }

        &-list {
            margin-bottom: 48px;

            &_item {
                color: var(--white-color);
                font-size: var(--smaller-font-size);
                line-height: 24px;
                letter-spacing: -0.01em;
                color: var(--main-text-color);
                margin-bottom: 24px;
                display: flex;
                align-items: center;
            }
        }

        &-icon {
            color: var(--secondary-text-color);
            margin-right: 14px;
            font-size: 20px;

            &_arrow {
                font-size: 24px;
            }
        }

        &-button {
            width: 178px;
            height: 64px;
            padding: 20px 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: var(--white-color);
                font-size: var(--smaller-font-size);
                font-weight: var(--font-medium);
                line-height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease-in-out;
            }
        }

        &:hover {
            transform: scale(calc(1 + 0.025));
            box-shadow: 1px 2px 20px rgba(0, 0, 0, .7);
        }
    }

    &__spoiler {
        width: 1060px;
        height: 176px;
        background-color: var(--main-color);
        border-radius: 24px;
        padding: 52px 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-content {
            &_subtitle {
                display: block;
                font-size: var(--smallest-font-size);
                font-weight: var(--font-medium);
                line-height: 16px;
                letter-spacing: 0.03em;
                color: var(--white-color);
                text-transform: uppercase;
                opacity: .5;
                margin-bottom: 16px;
            }

            &_title {
                font-size: var(--medium-font-size);
                font-weight: var(--font-semi-bold);
                line-height: 40px;
                letter-spacing: -0.03em;
                color: var(--white-color);
            }
        }
    }
}

.button__dark {
    background-color: var(--secondary-text-color);
    transition: .3s ease-in-out;

    &:hover {
        background-color: var(--main-text-color);

        a {
            color: var(--black-color);
        }
    }
}

.button__active {
    transition: .3s ease-in-out;

    &:hover {
        background-color: var(--main-text-color);

        a {
            color: var(--black-color);
        }
    }
}

.button__light {
    background-color: #689EFF;
    transition: .3s ease-in-out;

    &:hover {
        background-color: var(--main-text-color);

        a {
            color: var(--black-color);
        }
    }
}

#first,
#third {
    margin-top: 176px;
}