// Styles For Scroll-Bar
::-webkit-scrollbar {
    width: .60rem;
    border-radius: .5rem;
    background-color: var(--button-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    &:hover {
        background-color: var(--secondary-text-color);
    }
}